@use '../../styles/var' as *;

.section03{
  min-height: 100vh;
  position: sticky;
  z-index: 100;
  background: #f0f0f0;
  .section_inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
    height: 100%;
  }
  .slide_wrap{
    width: 100%;
    .inner{
      display: flex;
      gap: 40px;
      align-items: flex-start;
      justify-content: center;
      display: inline-block;
      .img{
        max-width: 750px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .mark{
          position: absolute;
          top: 20px;
          right: 20px;
          max-width: 50px;
        }
      }
      .info{
        padding: 40px 15px 0;
        & > div{
        display: flex;
        gap: 10px; 
        }
        .t{
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 25px;
          }
      }
      .site_list{
        font-size: 20px;
        & + .site_list{
          margin-top: 10px;
        }
        .tit{
          min-width: 95px;
        }
      }
    }
  }
}