@use '../../styles/mixin' as m;
@use '../../styles/var' as *;

.section01{
  background: $mainColor;
  font-family: 'Paperlogy';
  & > div{
    height: 100%;
  }
  .home_wrap{
    padding: 70px 90px 100px; 
    display: flex;
    justify-content: center;
    color: #fff;
    height: 100%;
    @include m.breakB{
      padding: 50px 50px 60px;
    }
    @include m.tablet{
      gap: 80px;
      padding: 30px 40px 40px;
      flex-direction: column;
    }
    @include m.phone{
      gap: 50px;
      padding: 30px 30px 40px;
    }
    .lf_wrap{
      flex: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 1px;
        background-color: #fff;
        right: 0;
        top: -70px;
        animation: bd01 1.5s 0.3s alternate forwards;
        }
        @keyframes bd01 {
          0%{
            height: 0;
          }
          100%{
            height: 110vh;
          }
        }
        @include m.tablet{
          gap: 60px;
        }
      .name{
        display: inline-block;
        font-weight: 600;
        font-size: 35px;
        opacity: 0;
        transform: scale(0.8);
        animation: name 1s 0.5s forwards;
        width: 252px;
        @include m.breakM {
          width: auto;
          font-size: 28px;
        }
        @include m.tablet {
          font-size: 18px;
        }
        @keyframes name {
          0%{
             opacity: 0;
             transform: scale(0.8);
          }
          100%{
             opacity: 1;
             transform: scale(1);
          }
        }
      }
      .text{
        font-size: 250px;
        font-weight: 600;
        line-height: inherit;
        line-height: 1;
        @include m.breakB {
          font-size: 200px;
        }
        @include m.breakM {
          font-size: 140px;
        }
        @include m.tablet {
          font-size: 100px;
        }
        @include m.mobile {
          font-size: 90px;
        }
        span{
          display: block;
          letter-spacing: 0.02em;
          position: relative;
          overflow: hidden;
          &:nth-of-type(2)::before{
            content: '';
            display: inline-block;
            width: 80px;
            height: 35px;
            background: transparent;
            vertical-align: middle;
            margin-right: 20px;
            @include m.tablet {
              width: 50px;
              height: 20px;
            }
          }
          &:nth-of-type(2)::after{
            content: '';
            width: 80px;
            height: 35px;
            opacity: 0;
            transition: 0.4s;
            transition-delay: 0.7s;
            background: $pointColor;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            animation: bar 1s 0.5s alternate forwards;
            @include m.tablet {
              width: 50px;
              height: 20px;
              animation: barM 1s 0.5s alternate forwards;
            }
          }
          @keyframes bar {
            0%{
              opacity: 0;
              width: 0;
            }
            100%{
              opacity: 1;
              width: 80px;
            }
          }
          @keyframes barM {
            0%{
              opacity: 0;
              width: 0;
            }
            100%{
              opacity: 1;
              width: 50px;
            }
          }
          i{
            display: inline-block;
            opacity: 0;
            transform: translateY(100%) scale(0);
            animation: txt 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
          }
          @keyframes txt {
            0%{
              opacity: 0;
              transform: translateY(100%) scale(0);
            }
            100%{
              opacity: 1;
              transform: translateY(0) scale(1);
            }
          }
        }
      }
    }
    .rt_wrap{
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 70px;
      @include m.tablet {
        padding-left: 0px;
        padding-right: 40px;
      }
      .top_box{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 50px;
        position: relative;
        @include m.tablet{
          padding-bottom: 0px;
          justify-content: flex-start;
        }
        &::after{
          content: '';
          position: absolute;
          height: 1px;
          background: #fff;
          bottom: 0;
          right: -90px;
          animation: bd02 1.2s 0.5s alternate forwards;
          @include m.breakB {
            right: -50px;
          }
          @include m.tablet {
            right: -80px;
            bottom: auto;
            top: 70px;
          }
        }
        @keyframes bd02 {
          0%{
            width: 0;
          }
          100%{
            width: calc(150%);
          }
        }
        &::before{
          content: '';
          height: 30px;
          background: $pointColor;
          position: absolute;
          bottom: 0px;
          left: -70px;
          opacity: 0;
          animation: box 0.5s 1s alternate forwards;
          @include m.tablet {
            left: auto;
            right: -40px;
            top: 40px;
          }
        }
        @keyframes box {
          0%{
            width: 0;
            opacity: 0;
          }
          100%{
            width: 30px;
            opacity: 1;
          }
        }
        .year{
          font-size: 34px;
          font-weight: 600;
          opacity: 0;
          animation: year 0.5s 0.8s forwards;
          @keyframes year {
            0%{
              opacity: 0;
            }
            100%{
              opacity: 1;
            }
          }
          @include m.breakM {
            font-size: 28px;
            margin-bottom: 15px;
          }
          @include m.tablet {
            font-size: 18px;
            text-align: right;
          }
        }
        .job{
          display: flex;
          gap: 150px;
          font-size: 40px;
          @include m.breakB {
            font-size: 32px;
            gap: 100px;
          }
          @include m.tablet {
            font-size: 20px;
          }
          @include m.mobile {
            gap: 100px;
            font-size: 18px;
          }
          span{
           opacity: 0;
            animation: job 0.7s 1.2s forwards;
            transform: translateY(70px);
            color: #fff;
            @include m.tablet {
              transform: translateY(30px);
            }
            @keyframes job {
              0%{
                opacity: 0;
              }
              100%{
                opacity: 1;
                transform: translateY(0px);
              }
            }
          }
        }
      }
      .bt_box{
        flex: 1;
        position: relative;
        .scroll{
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 11;
            text-align: center;
            font-size: 14px;
            .mouse {
              position: relative;
              display: block;
              width: 20px;
              height: 35px;
              border: 2px solid #fff;
              border-radius: 20px;
              margin: 0 auto;
              span{
                position: absolute;
                display: block;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                width: 4px;
                height: 4px;
                background: #fff;
                border-radius: 50%;
                animation: mouse 2s linear infinite;
              }
            }
            p{
              font-size: 16px;
              color: #fff;
              text-align: center;
              margin-top: 5px;
            }
          }
          @keyframes mouse {
            0% {
              opacity: 1;
              top: 29%;
            }
            25% {
              opacity: 1;
              top: 50%;
            }
            50% {
              opacity: 0;
              top: 70%;
            }
            100% {
              opacity: 0;
              top: 29%;
            }
          }
        }
      }
    }
  }