@use '../../styles//mixin' as m;
@use '../../styles/var' as *;

.section02{
  background: #FFFFF6;
  height: 100%;
  @include m.tablet{
    height: auto;
  }
  .section_inner{
    max-width: 1400px;
    width: calc(100% - 40px);
    padding: 80px 0;
    margin: 0 auto;
    @include m.tablet{
      padding: 40px 0;
    }
    .inner{
      .name_wrap{
        color: $mainColor;
        flex-shrink: 0;
        strong{
          display: block;
          font-size: 45px;
          font-weight: 600;
          transform: translateY(-20px);
          opacity: 0;
          transition: all 0.7s;
          transition-delay: 0.3s;
          @include m.breakM{
            font-size: 40px;
          }
          @include m.tablet{
            font-size: 30px;
          }
        }
        .birth{
          font-size: 25px;
          @include m.breakM{
            font-size: 22px;
          }
          @include m.tablet{
            font-size: 20px;
          }
          &::after{
            content: '';
            display: inline-block;
            width: calc(100% - 107px);
            height: 1px;
            background-color: $mainColor;
            vertical-align: middle;
            margin-left: 15px;
          }
        }
      }
      .top_box{
        display: flex;
        gap: 50px;
        @include m.tablet{
          flex-direction: column;
          gap: 30px;
        }
        .intro_box{
          margin-top: 60px;
          @include m.tablet{
            margin-top: 0;
          }
          .intro_tit{
            color: $mainColor;
            font-size: 34px;
            font-weight: 600;
            line-height: 1.5;
            @include m.breakM{
              font-size: 30px;
            }
            @include m.tablet{
              font-size: 24px;
            }
            .icon{
              font-size: 22px;
              position: relative;
              top: -10px;
              @include m.tablet{
                font-size: 18px;
              }
            }
          }
          .intro_sub{
            color: $mainColor;
            font-size: 18px;
            line-height: 1.5;
            margin-top: 10px;
            @include m.tablet{
              font-size: 16px;
            }
            strong{
              color: #D4A017;
            }
          }
        }
      }
      .md_box{
        display: flex;
        @include m.tablet{
          flex-direction: column;
        }
        .img_wrap{
            overflow: hidden;
            flex: 1;
            @include m.tablet{
                text-align: center;
            }
            img{
              @include m.tablet{
                max-width: 350px;
              }
            }
        }
        
        .info_wrap{
          flex: 2;
          padding-top: 80px;
          @include m.tablet{
              padding-top: 0;
            }
          .fl{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            @include m.mobile{
              grid-template-columns: 1fr;
            }
          }
          .cont {
            & + .cont{
              margin-top: 45px;
              @include m.tablet{
                margin-top: 35px;
              }
            }
            .t{
              font-size: 20px;
              font-weight: 600;
              color: $mainColor;
              margin-bottom: 15px;
              @include m.tablet{
                font-size: 18px;
                margin-bottom: 10px;
              }
            }
            ul li{
              color: $mainColor;
              letter-spacing: 0.01em;
              & + li{
                margin-top: 7px;
              }
            }
            .pro_txt span{
              display: inline-block;
              min-width: 70px;
            }
            .career{
              .period{
               display: block;
               font-size: 15px;
               margin-top: 3px;
             }
             .text::after{
              content: "";
              background: #016a4d;
              width: 1px;
              height: 13px;
              display: inline-block;
              margin: 0 6px -1px 7px;
             }
            }
            .skill_list{
              display: grid;
              align-items: flex-end;
              gap: 5px 15px;
              grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
              @include m.tablet{
                grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
                gap: 5px 10px;
              }
              li{
                position: relative;
                .skill_ico{
                  background: #fff8e5;
                  padding: 5px;
                  border-radius: 5px;
                  @include m.tablet{
                    padding: 3px;
                  }
                  img{
                    @include m.tablet{
                      transform: scale(0.8);
                    }
                  }
                }
                p{
                  position: absolute;
                  bottom: -25px;
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 1;
                  font-size: 12px;
                  text-align: center;
                  padding: 3px 6px;
                  border-radius: 3px;
                  background: $pointColor;
                  color: #222;
                  opacity: 0;
                  visibility: hidden;
                  transition: all 0.3s;
                }
                &:hover p{
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            .link{
              li + li{
                margin-top: 10px;
              }
              img{
                max-width: 25px;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  &.on{
    .section_inner{
      .name_wrap strong{
        transform: translateY(0);
        opacity: 1;
        margin-bottom: 10px;

      }
      .slice_text{
        opacity: 0;
        transform: translateY(10px);
        display: inline-block;
        animation: bounce 1.5s 3s ease forwards;
      }
      @keyframes bounce {
        0% {
          transform: translateY(10px);
          opacity: 0;
        }

        25% {
          transform: translateY(-10px);
          opacity: 0;
        }
  
        50% {
          transform: translateY(-20px);
          opacity: 1;
        }

  
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    }

}